:root {
  --black: #000;
  --grey: #ddd;
  --font-grey: #717171;
  --white: #ffffff;
  --theme: #ff385c;
  --light-grey: #f7f7f7;
}

body {
 
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-container a {
  text-decoration: none;
}
.card-container{
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 20px;
  
  width: 100%;
  
}
.cards-flex {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  flex-direction: column;
}
.card-box {
  margin: 1rem !important;
  margin-bottom: 3rem !important;
}

.swiper-container {
  height: 300px;
  width: 420px;
  overflow: hidden;
}

.card-img {
  height: 370px!important;
  width: 410px!important;
  object-fit: cover!important;
  border-radius: 0.5rem !important;
}

.card-info-flex {
  display: flex!important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  width: 270px!important;
}
  
  


.rating {
  display: flex!important;
  align-items: center!important;
  gap: 0.25rem !important;
 
}

.card-box .swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}



@media only screen and (max-width: 1000px) {
  .swiper-container,
  .card-img {
    height: 400px;
    width: 40vw;
  }
}

@media only screen and (max-width: 800px) {
  .swiper-container,
  .card-img {
    height: 100%;
    max-height: 400px;
    width: 90vw;
  }

  .cards-flex {
    padding: 0px!important;
  }
}
