.review-form{
    
    max-width: 100px;
    margin-left: 20%;
    display: left;
    padding: 10px;
    
    
    

}
.btn-btn{
    background-color: rgb(255, 94, 0);
  color: #fff;
  
  
  font-size: 14px;
}
