/* .nx, .px{
    background: rgb(5, 5, 40);
    color: #fff;
}
.nx{
    width: 100%;
}
footer, .nx{
    max-width: 100%!important;
} */
/* footer{
    height: 100%;
    background: rgb(5, 5, 40);
    color: #fff;
} */