.hero{
    background: red;
    width: 100%;
    height: 100vh;
}
.HomePage{
    width: 100%;
    height: 50vh;
    background: url('https://media-cdn.tripadvisor.com/media/photo-s/16/bd/e0/d0/restaurant-en-kitchen.jpg');
    background-position: center;
    background-size: cover;
}