.hero{
    width: 100%;
    height:130vh;
}
.ContentImage{
    width: 100%;
    background: black;
}

.ContentContainer{
    max-width: 100%;
    height: fit-content;
    margin-bottom: 2px;
    padding: 2%;
}
.ContentPlaceToVisit{
    margin-bottom: 20px;
    width: 100%;
    height: 60vh!important;
}
.img{
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
}


