@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
.Search-Box .nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 3px solid red; */
    max-width: 100%;
    height: 8vh;
    gap: 10px;
    border-radius: 50px;
    box-shadow: rgba(40, 39, 39, 0.35) 0px 5px 15px;
}
.searchbox{
    width: 60px;
    height: 70%;
    cursor: pointer;
    box-shadow: rgba(40, 40, 39, 0.35) 0px 5px 15px;
    background: orangered;
    border-radius: 50px;
    position: relative;
}
.searchbox .bi{
    margin-top: 30%;
    margin-left: 35%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
}
.nav br{
    color: #000;
    height: 100vh;
    width: 2px;
}